body {
  margin: 0;
}

.image-post {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: stretch;
}

.form {}

#fileupload {
  margin: auto;
}

#upload-button {
  margin: 10px;
}

.canvas-wrapper {
  display: none;
}

#anim {
  width: 100%;
  height: 100%;
  border: 3px solid #000;
}