body {
  margin: 0;
}

.image-post {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: stretch;
}

.form {}

#fileupload {
  margin: auto;
}

#upload-button {
  margin: 10px;
}

.canvas-wrapper {
  display: none;
  position: relative;
}

#anim {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

#path {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}